:root {
    --lightgreen: #96be25;
    --vedana: Verdana, Geneva, Tahoma, sans-serif;
    --html-bg-color: #222;
    --body-bg-color: #111;
    --text-color: #eee;
    --text-color1:#222;
}

* {
    font-family:var(--verdana);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    /* text-transform: capitalize; */
    transition: all 0.2s linear; 
}

*::selection {
    background: var(--lightgreen);
    color: #333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: var(--verdana);
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background:var(--html-bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--lightgreen);
}

body {
    font-family:var(--vedana);
    background: var(--body-bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    padding-left: 35rem; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    font-family: var(--verdana);
    background: var(--html-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid  var(--lightgreen);
}

header .user .name {
    font-size: 3.5rem;
    color: var(--text-color);
}

header .user .post {
    font-size: 3.5rem;
    color: var(--text-color);
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: var(--html-bg-color);
    color: var(--text-color);
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background: var(--lightgreen); 
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: var(--html-bg-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

section{
    min-height: 100vh;
    font-family: var(--verdana);
    padding: 1rem;
}

section .text-1 {
    font-family: var(--verdana);
    color: var(--text-color1);
    display: flex;
    width: 100%;
    min-height: 100px; 
    border: 2px solid var(--lightgreen); 
    margin: 20px 0; 
    padding: 10px; 
    text-transform: none;
    justify-content: space-around; 
    align-items: center;
    text-align: justify;
    font-size: 1rem; 
    font-weight: bold;
    background-color: var(--html-bg-color); 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Hinzugefügter Hover-Effekt für Interaktivität */
section .text-1:hover {
    transform: scale(1.05); 
    transition: transform 0.5s ease-in-out; /* Sanfter Übergang */
}


.btn{
    padding: .7rem 3rem;
    background: var(--html-bg-color);
    color: var(--text-color);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background: var(--lightgreen);
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: 1rem solid var(--text-color);
    color: var(--text-color);
}

.heading span{
    color: var(--lightgreen);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 15rem;

}

.home h3{
    font-size: 2.5rem;
    color: var(--text-color);
}

.home h1{
    font-size: 5rem;
    color: var(--text-color);
}
.home p{
    font-size: 1.4rem;
    color:var(--text-color);
    padding: 1rem .9rem;
    font-weight: 600;
}

.home h1 span{
    color: var(--lightgreen);
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color: var(--lightgreen);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:var(--text-color);
    padding: 0 1rem;

}

.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width: 20rem;

    background: var(--html-bg-color);
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border: 2px solid var(--text-color);
    border-radius: 10%;
}

.about .row .counter .box:hover{
    transform: scale(1.05); /* Vergrößerungseffekt bei Hover */
    transition: transform 0.3s ease-in-out; /* Sanfter Übergang */
    border-color: var(--lightgreen);
}


.about .row .counter .box span{
    font-size: 4rem;
    color: var(--lightgreen);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: var(--text-color);
}

.bildung .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: var(--text-color); */
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.bildung .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--text-color);
    position: relative;
}

.bildung .box-container .box span{
    font-size: 1.3rem;
    font-family:var(--verdana);
    background: var(--html-bg-color);
    color: var(--text-color);
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.bildung .box-container .box h3{
    font-size: 2rem;
    font-family:var(--verdana);
    color: var(--text-color);
    padding-top: 1.5rem;
}

.bildung .box-container .box p{
    font-family:var(--verdana);
    font-size: 1.4rem;
    color:var(--text-color);
    padding-top: 1rem 0;
}

.bildung .box-container .box i{
  position: absolute;
  top: -1.5rem; left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 3rem;
  color: var(--text-color);
  background: var(--lightgreen);

}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.portfolio .box-container .box{
    position: relative;
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    cursor: pointer;
    /* overflow: hidden; */
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box h5{
    width:100%;
    position: absolute;
    top: 50%;
    left: auto;
    text-align: center;
    display: none;
    font-size: 2.5rem;
    color: var(--lightgreen);
    z-index: 2;
    text-shadow: 2px 2px 4px black;
}

.portfolio .box-container .box:hover h5{
    display: block;
}



.portfolio .box-container .box:hover img{
    transform: scale(1.2);
    opacity: 0.4;
}

.kontakt .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.kontakt .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.kontakt .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.kontakt .row form .box{
    padding: 1.5rem;
    margin: 1rem 0; 
    background: #333;
    color:var(--text-color);
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.kontakt .row form .box::placeholder{
    text-transform: capitalize;
}

.kontakt .row form .message{
    height: 15rem;
    resize: none;
}

.kontakt .row .content .title{
    text-transform: uppercase;
    color:var(--text-color);
    font-size: 3rem;
    padding-bottom: 2rem;

}

.kontakt .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--text-color);
    padding: 1rem 0;
    font-weight: normal;
}

.kontakt .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--lightgreen);
}
.contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 100;
}

.contact-links div {
    display: inline-block;
    margin: 0 10px;
    color: var(--text-color);
    text-decoration: none;
    font-size: larger;
    font-weight: 100;
    list-style: none;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.follow {
    text-align: center;
    color:var(--text-color);
}


footer {
    background-color:var(--lightgreen);
    font-size: 1.3rem;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}

/* .kontakt .row form{
    margin: 3rem 0; 

} */

.top{
    position:fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
    display: none;
}


/* media queries */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
        /* overflow-x: hidden; */
    }
    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width: 991px){
    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 400px) {
    header {
        width: 100vw;
    }
    .heading{
        margin: 0 3rem;
    }
    .about .row .counter .box{
        width: 100%;
    }
    .bildung .box-container .box{
        width: 100%;
    }
    .portfolio .box-container .box{
        width: 100%;
    }
}
